@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Exo|Roboto+Condensed&display=swap');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #f5f6f7;
  font-family: Audiowide, Orbitron, Exo, Roboto Condensed, Tahoma;
  font-size: 16px;
  background-image: linear-gradient(
      to top,
      rgba(163, 42, 20, 0.8),
      rgba(228, 88, 7, 0.7)
    ), url(https://images.gog-statics.com/3adc36dd62dfcb19d7085ddbea7411332cb92bf408f6a495c6f497017fd96876.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  margin: 3.125rem auto 0 auto;
}


h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  background: linear-gradient(
    115deg,
    rgba(10, 10, 35, 0.7),
    rgba(163, 42, 20, 0.8),
    rgba(10, 10, 35, 0.7)
  );
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea, select {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}


select option:first-child {
  color: #6c757d;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color:  #8B0000 ;
  border-color: white;
  min-width: 300px;
}

a {
  color: #dfdfe2;
}